<div class="container">
	<div class="row">
		<div class="col-lg-2 col-5">
			<img src="https://res.cloudinary.com/aseed/image/upload/v1612192537/logo-btip_eihnzk.png" alt="" class="img-fluid">
		</div>
		<div class="col-lg-4 offset-lg-6 col-7">
			<ul class="nav m-top">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Créer ma page</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contact</a>
  </li>
</ul>
		</div>
	</div>
</div>
<div class="container-fluid bg-primary">
	<div class="row">
		<div class="col-lg-4 col-12">
			<h1 class="hero-titre text-white m-top-xbig m-left-big">
				Vivez de <br>votre passion
			</h1>
			<p class="text-white m-left-big">
				Vous créez des contenus réguliers sur Internet (vidéos, articles, musiques, photos, posts, etc.), vous avez une communauté qui vous suit et vous soutient ? Badol Tip est fait pour vous. 
			</p>
			<%=link_to "Créer ma page maintenant", new_createur_registration_path,  class:"btn btn-lg btn-outline-light m-left-big m-top"%>
		</div>
		<div class="col-lg-8 col-12">
			<img class="img-fluid" src="https://res.cloudinary.com/aseed/image/upload/v1612195522/bd_hero_image_b0sut1.png" alt="">
		</div>
	</div>
</div>

<div class="container">
	<div class="row m-top m-bottom">
		<div class="col-lg-6 m-top-md m-bottom-md">
			<h1 class="text-bold">
				Recevez des Tips
			</h1>
			<h5 class="description">
				Invitez les internautes qui aiment votre travail à vous soutenir financièrement dans votre démarche en vous donnant des Tips uniques ou récurrents (par contenu ou par mois). D'autres internautes qui découvrent votre travail peuvent aussi  vous soutenir.
			</h5>
		</div>
		<div class="col-lg-6">
			<img src="https://res.cloudinary.com/aseed/image/upload/v1612990966/gain_q7zwcx.png" alt="" class="img-fluid">
		</div>
	</div>
	<div class="row m-top m-bottom">

		<div class="col-lg-6">
			<img src="https://res.cloudinary.com/aseed/image/upload/v1612990966/gain_q7zwcx.png" alt="" class="img-fluid">
		</div>

		<div class="col-lg-6 m-top-md m-bottom-md">
			<h1 class="text-bold">
				Développer une source de revenus réguliers
			</h1>
			<h5 class="description">
				Ne dépendez plus de vos revenus publicitaires ou de la taille de votre audience. Bénéficiez de revenus réguliers grâce aux paiements mensuels de vos contributeurs.
			</h5>
		</div>
	</div>
	<div class="row m-top-mini m-bottom-mini">
		<div class="col-lg-12  text-center">
			<h1 class="text-bold">
				Comment ça marche ?
			</h1>
			<div class="row row-cols-1 row-cols-md-1 g-4 m-top-mini m-bottom-mini">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
      	<h1 class="card-title text-bold">1</h1>
        <h3 class="card-title">
        	Créez votre page Badol en qualques minutes
    	</h3>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
      	<h1 class="card-title text-bold">2</h1>
        <h3 class="card-title">Invitez vos fans sur votre page</h3>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
      	<h1 class="card-title text-bold">3</h1>
        <h3 class="card-title">Commencez à recevoir des tips</h3>
      </div>
    </div>
  </div>
</div>
		</div>
	</div>
</div>


<div class="container-fluid bg-primary">
	<div class="row">
		<div class="col-lg-9 offset-lg-1 m-top-md m-bottom-md">
			<h1 class="text-white text-bold">
				Offrez à votre public un <br>moyen facile de vous remercier.
			</h1>
			<h5 class="text-white description">
				Laissez ceux qui aiment votre contenu participer activement à votre travail en vous soutenant sur Badol, pas de durée de collecte ni d'objectif à atteindre, vos tips vous sont automatiquement versés chaque mois.
			</h5>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-6 m-top-md m-bottom-md">
			<h1 class="text-bold">
				Pour tous les créateurs du web
			</h1>
			<h5 class="description">
				Peu importe le canal que vous utilisez pour publier votre contenu, si êtes prêt à faire passer votre créativité au niveau supérieur et à ouvrir votre cœur à votre public, Badol est fait pour vous.
			</h5>
		</div>
		<div class="col-lg-6">
			<img src="https://res.cloudinary.com/aseed/image/upload/v1612991415/creators_owwgti.png" alt="" class="img-fluid">
		</div>
	</div>
</div>

<div class="container-fluid bg-primary">
	<div class="row m-top">
		<div class="col-lg-12 text-center m-top m-bottom">
			<h1 class="text-bold text-white">
				Êtes-vous prêt à reprendre le contrôle ?
			</h1>
			<%=link_to "Créer ma page maintenant", new_createur_registration_path,  class:"btn btn-lg btn-outline-light m-left m-top-mini"%>
		</div>
	</div>
</div>

<div class="container m-top-mini">
	<div class="row">
		<div class="col-lg-2 col-5">
			<img src="https://res.cloudinary.com/aseed/image/upload/v1612192537/logo-btip_eihnzk.png" alt="" class="img-fluid">
		</div>
		<div class="col-lg-4 offset-lg-6 col-7">
			<ul class="nav m-top">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Créer ma page</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contact</a>
  </li>
</ul>
		</div>
	</div>
</div>